/* =========== Custom variables =========== */

$baseline-px: 16px;

// Theme Colors
$yb_blue: #709dca;
$yb_lighter_blue: #71b6d5;
$yb_light_blue: #273a43;
$yb_dark_blue: #394b50;
$yb_darker_blue: #062033;

$yb_yellow: #ffc155;
$yb_yellow_burn: #e7ad48;

$yb_gray: #868686;
$yb_light_gray: #c3c3c3;
$white: #ffffff;
$black: #000000;

// Fonts
$open_sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$pt_sans: 'PT Sans', sans-serif;
$pacifico: 'Pacifico', cursive;

// Fonts weight
$regular: 400;
$bold: 700;
$extra_bold: 800;

// Font style
$italic: italic;
$normal: normal;